body {
background-color:white;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed; 
}  

.Title {
position:fixed;
font-size:2vw;
}

.Title2 {
position:fixed;
font-size:1.8vw;
}


.Box2 {
position:fixed;
padding-bottom:50px;
padding-top:20px;
padding-left:1450px;
margin-left:-20px;
top:0px;
background-color: #F1DD93;
z-index:-10;
}

.Box3 {
position:fixed;
padding-bottom:10px;
padding-top:30px;
padding-left:1450px;
margin-left:-20px;
top:70px;
background-color:#E5BF37;
z-index:-2;
opacity:0.6;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.Imageblock {
height:190px;
width:190px;
position:absolute;
top:220px;
left:420px;
z-index:-3;
background-color:Gray;
opacity:0.8;
}

.Mainblock:hover {
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.Mainblock {
height:400px;
width:900px;
position:absolute;
top:200px;
left:400px;
z-index:-4;
background-color:#FBF6E4;
opacity:0.8;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

ul {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  background-color:#30290E;
  opacity:0.8;
  text-align: center;
}

li:hover {
box-shadow: 30px 0px 20px 0px rgba(255,255,0,0.5);
}

li a {
  display: block;
  color: #E5BF37;
  font-size:20px;
  padding: 10px 30px;
  font-family:'Roboto Slab', serif;
  width:239px;
  border-bottom: 1px solid #8FBC8F;
}


li:last-child {
border-right:none;
}

li:first-child {
border-left:none;
}

li a:hover {
  padding-right: 30px;
  background-color: #FBF6E4;
}
