body {
background-color:#EEF8E3;
color:#7FBD32;
font-family:'Quicksand',serif;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}  

li a {
color:#093426;
}

.Title {
position:fixed;
font-size:30px;
color:#1A3E4C;
}

.Title2 {
position:fixed;
font-size:15px;
color:#092834;
}


.Box2 {
position:fixed;
padding-bottom:50px;
padding-top:20px;
padding-left:1450px;
margin-left:-20px;
top:0px;
background-color:#7FBD32;
z-index:-10;
}

.Box3 {
position:fixed;
padding-bottom:10px;
padding-top:30px;
padding-left:1450px;
margin-left:-20px;
top:70px;
background-color:#F3F7D4;
z-index:-2;
opacity:0.6;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.Bar1 {
list-style-type:none;
position:fixed;
top:70px;
left:300px;
width:100%;
background-color:#CBE432;
text-align:center;
padding:0px 0px;
}

.Bar1 a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Bar1 a:hover {
  background: white;
  color: black;
}

.Mainblock:hover {
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.Mainblock {
height:150px;
width:900px;
position:absolute;
top:140px;
left:400px;
z-index:-4;
background-color:#FBF6E4;
opacity:0.8;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.Mainblock2 {
height:350px;
width:900px;
position:absolute;
top:320px;
left:400px;
z-index:-4;
background-color:#FBF6E4;
opacity:0.8;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.UL1 {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #66B032;
  opacity:0.8;
  text-align: center;
  width:300px;
}

.LI1 {
padding:14px 100px;
border-bottom: 1px solid black;
}
